          <!-- Default auto-sizing form -->
          <form>
            <!-- Grid row -->
            <div class="form-row align-items-center d-flex justify-content-center">

              <!-- Grid column -->
              <div class="col-auto">
                <!-- Default input -->
                <div class="input-group mb-2 .col-1">
                  <div class="input-group-prepend">
                    <div class="input-group-text">+7</div>
                  </div>
                  <input type="tel" name="phone" placeholder="" value="" length="10" class="phonemask">
                </div>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-auto">
                <button type="submit" class="btn btn-primary btn-md mt-0">Списать долги</button>
              </div>
            </div>
            <!-- Grid row -->
          </form>
          <!-- Default auto-sizing form -->