<div class="container my-5 p-5 z-depth-1 text-center">

  <style>
    .w-header {
      width: 3.2rem;
    }
  </style>
  
  <!--Section: Content-->
  <section class="text-center dark-grey-text">

    <!-- Section heading -->
    <h3 class="font-weight-bold pb-2">Сколько стоит банкротство онлайн</h3>
    <hr class="w-header my-4">
    <!-- Section description -->
    <p class="text-muted w-responsive mx-auto mb-5">
    Одним из безусловных приемуществ прохождения процедуры
    с использование онлайн сервиса является цена.
    И в этом случае основную сумму вы платите не за услуги
    юристов, арбитражных управляющих и прочих крохоборов,
    а за покрытие обязательных расходов в соответствии с 
    законами Российской Федерации.
    </p>
    
    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-lg-4 col-md-12 mb-4">

        <!-- Card -->
        <div class="pricing-card">

          <!-- Content -->
          <div class="card-body">
            
            <h6 class="font-weight-bold text-uppercase mb-4">Выгодно</h6>

            <!-- Price -->
            <p class="display-3 font-weight-normal">₽79900</p>
            
            <ul class="mb-0">
                <li><p>“Под ключ”</p></li>
                <li><p>Фиксированная цена</p></li>
                <li><p>Самая низкая цена</p></li>
                <li><p>Результат максимально быстрый</p></li>
                <li><p>Включены все обязательные платежи (в т.ч. депозит в суд и публикации)</p></li>
            </ul>
            <br/>
            <a class="btn btn-outline-primary btn-md btn-rounded btn-block">Начать за ₽79900</a>

          </div>
          <!-- Content -->

        </div>
        <!-- Card -->

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-4">

        <!-- Card -->
        <div class="pricing-card">

          <!-- Content -->
          <div class="card-body">
            
            <h6 class="font-weight-bold text-uppercase blue-text mb-4">Cбалансировано</h6>

            <!-- Price -->
            <p class="display-3 font-weight-normal">₽89900</p>
            
            <ul class="mb-0">
                <li><p>“Под ключ”</p></li>
                <li><p>Фиксированная цена</p></li>
                <li><p>Оплата в рассрочку а 5 месяцев</p></li>
                <li><p>Без увеличения сроков</p></li>
                <li><p>Результат по расписанию</p></li>
                <li><p>Включены все обязательные платежи (в т.ч. депозит в суд и публикации)</p></li>
            </ul>

            <a class="btn btn-primary btn-md btn-rounded btn-block">Начать за ₽89900</a>

          </div>
          <!-- Content -->

        </div>
        <!-- Card -->

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-4">

        <!-- Card -->
        <div class="pricing-card">

          <!-- Content -->
          <div class="card-body">
            
            <h6 class="font-weight-bold text-uppercase mb-4">Доступно</h6>

            <!-- Price -->
            <p class="display-3 font-weight-normal">₽89900</p>
            
            <ul class="mb-0">
                <li><p>“Под ключ”</p></li>
                <li><p>Фиксированная цена</p></li>
                <li><p>Оплата в рассрочку на 10 месяцев </p></li>
                <li><p>Результат придётся немного подождать</p></li>
                <li><p>Включены все обязательные платежи (в т.ч. депозит в суд и публикации)</p></li>
            </ul>

            <a class="btn btn-outline-primary btn-md btn-rounded btn-block">Начать за ₽99900</a>

          </div>
          <!-- Content -->

        </div>
        <!-- Card -->

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </section>
  <!--Section: Content-->


</div>