<nav class="navbar fixed-top navbar-expand-md navbar-light white double-nav scrolling-navbar">

  <!-- SideNav slide-out button -->
<div class="float-left">
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="fas fa-bars"></i><span class="sr-only" aria-hidden="true">Toggle side navigation</span></a>
  </div>

  <!-- Navbar links-->
  <div class="mr-auto pl-2">
    <span class="d-none d-md-inline-block">

    <!-- Dynamic content wrapper -->
    <span id="dynamicContentWrapper-mainNavbar" class="dynamic-content d-none d-lg-inline-block"><a alt="Dynamic: Get news (jQuery)" id="navbar-jquery-dynamic-newsletter" class="btn btn-success btn-sm my-0 waves-effect waves-light" href="/docs/jquery/newsletter/" role="button">НОВОСТИ<i class="fas fa-envelope ml-1"></i>
</a></span>

    <!--Angular Mobile-->
              <a id="navbar-category-gettingstarted-jquery" class="btn btn-info btn-sm my-0 waves-effect waves-light" href="/docs/jquery/getting-started/download/" role="button">
          <span class="d-none d-lg-inline-block mr-1">Начиная</span>
          <i class="fas fa-download"></i>
        </a>
        <a id="navbar-category-tutorial-jquery" class="btn btn-info btn-sm my-0 waves-effect waves-light" href="/education/bootstrap/" role="button">
          <span class="d-none d-lg-inline-block mr-1">Курс</span>
          <i class="fas fa-graduation-cap"></i>
        </a>
        <span id="dynamicContentWrapper-mainNavbar3" class="dynamic-content">
        <a alt="Dynamic: Products" class="btn btn-info btn-sm my-0 waves-effect waves-light" href="/products/" role="button">О нас<i class="far fa-gem  ml-1"></i></a></span>
        <a id="navbar-category-bundle-jquery" class="btn btn-unique btn-sm my-0 waves-effect waves-light" href="/products/jquery-super-bundle/" role="button">
        <span class="badge red mr-2">VIP</span>
          <span class="d-none d-xl-inline-block mr-1">От 100 млн</span>
          <i class="fas fa-gift"></i>
        </a>
          </span>
  </div>

    <!--Navigation icons-->
    <ul class="nav navbar-nav nav-flex-icons ml-auto">


        <li class="nav-item d-none d-xl-inline-block" id="navbar-static-contact" alt="Contact us">
          <a href="/general/contact/" class="nav-link waves-effect">
          <i class="fas fa-envelope"></i><span class="sr-only">Обратная связь</span>
          </a>
        </li>

        <li class="nav-item d-none d-xl-inline-block" alt="Support" id="navbar-static-support">
          <a href="/support/" class="nav-link waves-effect">
          <i class="fas fa-question-circle"></i><span class="d-none d-xl-inline-block ml-1">Помощь</span>
          </a>
        </li>

        <li class="nav-item ">
          <a href="/profile/?id=0#messages" class="nav-link waves-effect headerNotifCountBadge">
            <i class="fas fa-comments"></i><span class="sr-only">Горячая линия</span>
          </a>
        </li>


        <!-- Tools -->
         <li id="navbar-static-tools" class="nav-item dropdown">
           <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbar-tools" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
             <i class="fas fa-wrench"></i><span class="d-none d-xl-inline-block ml-1">Инструменты</span></a>
           <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbar-tools">
             <a class="dropdown-item d-xl-none waves-effect waves-light" href="/support/">Support Forum</a>
             <a class="dropdown-item waves-effect waves-light" href="/snippets/">Шаблонизатор</a>
             <a class="dropdown-item waves-effect waves-light" href="/articles/">Калькулятор стоимости</a>
             <a class="dropdown-item waves-effect waves-light" href="/news/frontend/">Редактор</a>
             <a class="dropdown-item waves-effect waves-light" href="/cli/">API Интегратор<span class="badge badge-danger rounded">New</span></a>
           </div>
         </li>

      <!-- Login / register -->
              <a id="navbar-static-signin" alt="Sign In" class="text-info align-self-center ml-2 auth-modal-toggle waves-effect waves-light" data-auth-modal-tab="sign-in">Вход</a>
        <a id="navbar-static-login" alt="Sign Up" class="btn btn-info btn-rounded btn-sm waves-effect waves-light auth-modal-toggle" data-auth-modal-tab="sign-up">Зарегистрироваться</a>
          </ul>
</nav>
